<a href="https://colab.research.google.com/github/Fuenfgeld/TeamDataScDatenmanagementUndArchivierung/blob/main/ProjektCovid19Allergy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Covid und Allergie
Die csv-Dateien sind im Ordner csv_files

Die db-Dateien sind im Ordner db_files

In [612]:
import pandas as pd
import numpy as np
import csv
import sqlite3 as sq
from sqlite3 import Error
from google.colab import drive

drive.mount('/content/drive/', force_remount=True)

csv_path = '/content/drive/MyDrive/csv_files/csv_to_db/'
db_path = '/content/drive/MyDrive/db_files/cov_alle.db'

patient_type = "cov_alle"

Mounted at /content/drive/

In [613]:
sql_table = {} # Tables
sql_index = {} # Indizes
sql_view = {} # Views

# Patients allergy
sql_table["patients_alle"] = """CREATE TABLE IF NOT EXISTS patients_alle (
  Id varchar primary key,
  BIRTHDATE date,
  DEATHDATE date,
  SSN varchar,
  DRIVERS varchar,
  PASSPORT varchar,
  PREFIX varchar,
  FIRST varchar,
  LAST varchar,
  SUFFIX varchar,
  MAIDEN varchar,
  MARITAL varchar,
  RACE varchar,
  ETHNICITY varchar,
  GENDER varchar,
  BIRTHPLACE varchar,
  ADDRESS varchar,
  CITY varchar,
  STATE varchar,
  COUNTY varchar,
  ZIP varchar,
  LAT double,
  LON double,
  HEALTHCARE_EXPENSES varchar,
  HEALTHCARE_COVERAGE varchar
);"""

# Indizes
sql_index["ix_patients_alle_id"] = """CREATE UNIQUE INDEX ix_patients_alle_id on patients_alle(Id);""" 
sql_index["ix_patients_alle_race"] = """CREATE INDEX ix_patients_alle_race on patients_alle(RACE);""" 
sql_index["ix_patients_alle_ethnicity"] = """CREATE INDEX ix_patients_alle_ethnicity on patients_alle(ETHNICITY);"""
sql_index["ix_patients_alle_city"] = """CREATE INDEX ixpatients_alle_city on patients_alle(CITY);"""
sql_index["ix_patients_alle_gender"] = """CREATE INDEX ix_patients_alle_gender on patients_alle(GENDER);"""
# sql_index["ix_patients_alle_country"] = """CREATE INDEX ix_patients_alle_country on patients_alle(COUNTRY);"""
sql_index["ix_patients_alle_zip"] = """CREATE INDEX ix_patients_alle_zip on patients_alle(ZIP);"""

# Patients COVID-19

sql_table["patients_cov"] = """CREATE TABLE IF NOT EXISTS patients_cov (
  Id varchar primary key,
  BIRTHDATE date,
  DEATHDATE date,
  SSN varchar,
  DRIVERS varchar,
  PASSPORT varchar,
  PREFIX varchar,
  FIRST varchar,
  LAST varchar,
  SUFFIX varchar,
  MAIDEN varchar,
  MARITAL varchar,
  RACE varchar,
  ETHNICITY varchar,
  GENDER varchar,
  BIRTHPLACE varchar,
  ADDRESS varchar,
  CITY varchar,
  STATE varchar,
  COUNTY varchar,
  ZIP varchar,
  LAT double,
  LON double,
  HEALTHCARE_EXPENSES varchar,
  HEALTHCARE_COVERAGE varchar
);"""

sql_index["ix_patients_cov_id"] = """CREATE UNIQUE INDEX ix_patients_cov_id on patients_alle(Id);""" 
sql_index["ix_patients_cov_race"] = """CREATE INDEX ix_patients_cov_race on patients_alle(RACE);""" 
sql_index["ix_patients_cov_ethnicity"] = """CREATE INDEX ix_patients_cov_ethnicity on patients_alle(ETHNICITY);"""
sql_index["ix_patients_cov_city"] = """CREATE INDEX ixpatients_cov_city on patients_alle(CITY);"""
sql_index["ix_patients_cov_gender"] = """CREATE INDEX ix_patients_cov_gender on patients_alle(GENDER);"""
# sql_index["ix_patients_cov_country"] = """CREATE INDEX ix_patients_cov_country on patients_alle(COUNTRY);"""
sql_index["ix_patients_cov_zip"] = """CREATE INDEX ix_patients_cov_zip on patients_alle(ZIP);"""

In [614]:
# Encounters allergy

sql_table["encounters_alle"] = """CREATE TABLE IF NOT EXISTS encounters_alle (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ORGANIZATIONS STRING,
                           PROVIDER STRING,
                           PAYER STRING,
                           ENCOUNTERCLASS STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_ENCOUNTER_COST INTEGER,
                           TOTAL_CLAIM_COST INTEGER,
                           PAYER_COVERAGE INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_alle (Id) 
                       );"""
sql_index["ix_encounters_alle_id"] = """CREATE INDEX ix_encounters_alle_id on encounters_alle(Id);""" 
sql_index["ix_encounters_alle_patient"] = """CREATE INDEX ix_encounters_alle_patients on encounters_alle(PATIENT);""" 
sql_index["ix_encounters_alle_description"] = """CREATE INDEX ix_encounters_alle_description on encounters_alle(DESCRIPTION);"""
sql_index["ix_encounters_alle_code"] = """CREATE INDEX ix_encounters_alle_code on encounters_alle(CODE);"""
sql_index["ix_encounters_alle_reasondescription"] = """CREATE INDEX ix_encounters_alle_reasondescription on encounters_alle(REASONDESCRIPTION);"""
sql_index["ix_encounters_alle_reasoncode"] = """CREATE INDEX ix_encounters_alle_reasoncode on encounters_alle(REASONCODE);"""


# Encounters COVID-19

sql_table["encounters_cov"] = """CREATE TABLE IF NOT EXISTS encounters_cov (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ORGANIZATIONS STRING,
                           PROVIDER STRING,
                           PAYER STRING,
                           ENCOUNTERCLASS STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_ENCOUNTER_COST INTEGER,
                           TOTAL_CLAIM_COST INTEGER,
                           PAYER_COVERAGE INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_cov (Id) 
                       );"""

sql_index["ix_encounters_cov_id"] = """CREATE INDEX ix_encounters_cov_id on encounters_cov(Id);""" 
sql_index["ix_encounters_cov_patient"] = """CREATE INDEX ix_encounters_cov_patients on encounters_cov(PATIENT);""" 
sql_index["ix_encounters_cov_description"] = """CREATE INDEX ix_encounters_cov_description on encounters_cov(DESCRIPTION);"""
sql_index["ix_encounters_cov_code"] = """CREATE INDEX ix_encounters_cov_code on encounters_cov(CODE);"""
sql_index["ix_encounters_cov_reasondescription"] = """CREATE INDEX ix_encounters_cov_reasondescription on encounters_cov(REASONDESCRIPTION);"""
sql_index["ix_encounters_cov_reasoncode"] = """CREATE INDEX ix_encounters_cov_reasoncode on encounters_cov(REASONCODE);"""

In [615]:
# Conditions allergy
sql_table["conditions_alle"] = """CREATE TABLE IF NOT EXISTS conditions_alle (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_alle (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_alle (Id) 

                       );"""

sql_index["ix_conditions_alle_patient"] = """CREATE INDEX ix_conditions_alle_patient on conditions_alle(PATIENT);"""
sql_index["ix_conditions_alle_encounter"] = """CREATE INDEX ix_conditions_alle_encounter on conditions_alle(ENCOUNTER);"""
sql_index["ix_conditions_alle_code"] = """CREATE INDEX ix_conditions_alle_code on conditions_alle(CODE);"""
sql_index["ix_conditions_alle_description"] = """CREATE INDEX ix_conditions_alle_description on conditions_alle(DESCRIPTION);"""

# Conditions COVID-19
sql_table["conditions_cov"] = """CREATE TABLE IF NOT EXISTS conditions_cov (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_cov (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_cov (Id) 

                       );"""

sql_index["ix_conditions_cov_patient"] = """CREATE INDEX ix_conditions_cov_patient on conditions_cov(PATIENT);"""
sql_index["ix_conditions_cov_encounter"] = """CREATE INDEX ix_conditions_acov_encounter on conditions_cov(ENCOUNTER);"""
sql_index["ix_conditions_cov_code"] = """CREATE INDEX ix_conditions_cov_code on conditions_cov(CODE);"""
sql_index["ix_conditions_cov_description"] = """CREATE INDEX ix_conditions_cov_description on conditions_cov(DESCRIPTION);"""

In [616]:
# Procedures allergy

sql_table["procedures_alle"]= """CREATE TABLE IF NOT EXISTS procedures_alle (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_alle (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_alle (Id) 

                       );"""
sql_index["ix_procedures_alle_patient"] = """CREATE INDEX ix_procedures_alle_patient on procedures_alle(PATIENT);"""
sql_index["ix_procedures_alle_encounter"] = """CREATE INDEX ix_procedures_alle_encounter on procedures_alle(ENCOUNTER);"""
sql_index["ix_procedures_alle_code"] = """CREATE INDEX ix_procedures_alle_code on procedures_alle(CODE);"""
sql_index["ix_procedures_alle_description"] = """CREATE INDEX ix_procedures_alle_description on procedures_alle(DESCRIPTION);"""


# Procedures COVID-19

sql_table["procedures_cov"]= """CREATE TABLE IF NOT EXISTS procedures_cov (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_cov (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_cov (Id) 

                       );"""
sql_index["ix_procedures_cov_patient"] = """CREATE INDEX ix_procedures_cov_patient on procedures_cov(PATIENT);"""
sql_index["ix_procedures_cov_encounter"] = """CREATE INDEX ix_procedures_cov_encounter on procedures_cov(ENCOUNTER);"""
sql_index["ix_procedures_cov_code"] = """CREATE INDEX ix_procedures_cov_code on procedures_cov(CODE);"""
sql_index["ix_procedures_cov_description"] = """CREATE INDEX ix_procedures_cov_description on procedures_cov(DESCRIPTION);"""

In [617]:
# Observations allergy
sql_table["observations_alle"]= """CREATE TABLE IF NOT EXISTS observations_alle (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_alle (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_alle (Id) 

                       );"""
sql_index["ix_observations_alle_patient"] = """CREATE INDEX ix_observations_alle_patient on observations_alle(PATIENT);"""
sql_index["ix_observations_alle_encounter"] = """CREATE INDEX ix_observations_alle_encounter on observations_alle(ENCOUNTER);"""
sql_index["ix_observations_alle_code"] = """CREATE INDEX ix_observations_alle_code on observations_alle(CODE);"""
sql_index["ix_observations_alle_description"] = """CREATE INDEX ix_observations_alle_description on observations_alle(DESCRIPTION);"""


# Observations COVID-19
sql_table["observations_cov"]= """CREATE TABLE IF NOT EXISTS observations_cov (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients_cov (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters_cov (Id) 

                       );"""
sql_index["ix_observations_cov_patient"] = """CREATE INDEX ix_observations_cov_patient on observations_cov(PATIENT);"""
sql_index["ix_observations_cov_encounter"] = """CREATE INDEX ix_observations_cov_encounter on observations_cov(ENCOUNTER);"""
sql_index["ix_observations_cov_code"] = """CREATE INDEX ix_observations_cov_code on observations_cov(CODE);"""
sql_index["ix_observations_cov_description"] = """CREATE INDEX ix_observations_cov_description on observations_cov(DESCRIPTION);"""

In [618]:
# Views

# Patients
sql_view["v_patients"] = """CREATE VIEW v_patients as
select PA.id PATIENT_Id, BIRTHDATE, DEATHDATE, MARITAL, RACE, ETHNICITY, GENDER, CITY, MAX(strftime('%Y', START)) - strftime('%Y', BIRTHDATE) AGE,  'allergy' study 
from patients_alle pa
JOIN encounters_alle EA 
  ON PA.Id = EA.PATIENT
group by PA.id
  union
select PC.id PATIENT_Id, BIRTHDATE, DEATHDATE, MARITAL, RACE, ETHNICITY, GENDER, CITY, MAX(strftime('%Y', START)) - strftime('%Y', BIRTHDATE) AGE, 'covid-19' study 
from patients_cov PC 
JOIN encounters_cov EC 
  ON PC.Id = EC.PATIENT
group by PC.id
;"""


# Encounters

sql_view["v_encounters"] = """ CREATE VIEW v_encounters as
select Id ENCOUNTER_Id, "START" , STOP , PATIENT , CODE , DESCRIPTION, BASE_ENCOUNTER_COST , TOTAL_CLAIM_COST , PAYER_COVERAGE , REASONCODE , REASONDESCRIPTION , 'allergy' study from encounters_alle
  union
select Id ENCOUNTER_Id, "START" , STOP , PATIENT , CODE , DESCRIPTION, BASE_ENCOUNTER_COST , TOTAL_CLAIM_COST , PAYER_COVERAGE , REASONCODE , REASONDESCRIPTION , 'covid-19' study from encounters_cov
; """

# Procedures
sql_view["v_procedures"] = """ CREATE VIEW v_procedures as
select DATE, PATIENT, ENCOUNTER, CODE, DESCRIPTION, BASE_COST, REASONCODE, REASONDESCRIPTION, 'allergy' study FROM procedures_alle
  union
select DATE, PATIENT, ENCOUNTER, CODE, DESCRIPTION, BASE_COST, REASONCODE, REASONDESCRIPTION, 'covid-19' study FROM procedures_cov;
"""

# Conditions

sql_view["v_conditions"] = """ CREATE VIEW v_conditions as
select START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION, 'allergy' study FROM conditions_alle
  union
select START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION, 'covid-19' study FROM conditions_cov;
"""

# Observations

sql_view["v_observations"] = """ CREATE VIEW v_observations as
select DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE, 'allergy' study FROM observations_alle
  union
select DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE, 'covid-19' study FROM observations_cov;
"""

In [619]:
def connect_to_db(db_file):
    sqlite3_conn = None
    try:
        sqlite3_conn = sq.connect(db_file)
        return sqlite3_conn

    except Error as err:
        print(err)

        if sqlite3_conn is not None:
            sqlite3_conn.close()

In [620]:
def insert_values_to_table(cursor, table_name, csv_file_path):
    # Read CSV file content
    values_to_insert = open_csv_file(csv_file_path)

    # Insert to table
    if len(values_to_insert) > 0:
        column_names, column_numbers = get_column_names_from_db_table(cursor, table_name)

        values_str = '?,' * column_numbers
        # print("*****", values_str, column_names, column_numbers)
        values_str = values_str[:-1]

        sql_query = 'INSERT OR REPLACE INTO ' + table_name + '(' + column_names + ') VALUES (' + values_str + ')'


        cursor.executemany(sql_query, values_to_insert)
        # conn.commit()

        print('SQL insert process finished')
    else:
        print('Nothing to insert')

        # conn.close()

    # else:
        # print('Connection to database failed')

In [621]:
def open_csv_file(csv_file_path):

    with open(csv_file_path, 'r', encoding='utf-8') as csv_file:
        reader = csv.reader(csv_file)
        next(reader)

        data = list()
        for row in reader:
            data.append(row)
        return data

In [622]:
def get_column_names_from_db_table(sql_cursor, table_name):
    table_column_names = 'PRAGMA table_info(' + table_name + ');'
    sql_cursor.execute(table_column_names)
    table_column_names = sql_cursor.fetchall()

    column_count = len(table_column_names)

    column_names = list()

    for name in table_column_names:
        column_names.append(name[1])

    return ', '.join(column_names), column_count

In [623]:
# print(sql_table.keys())
# print(sql_index.keys())
# print(sql_view.keys())

In [624]:
# import csv into db
conn = connect_to_db(db_path)
if conn is not None:
        cursor = conn.cursor()
        for name in sql_table.keys():
          csv_file = csv_path + name + ".csv"
          print(name, csv_file)
          
          cursor.execute(sql_table[name])

          insert_values_to_table(cursor, name, csv_file)
        # conn.commit()

        for ix_name in sql_index.keys():
          cursor.execute(sql_index[ix_name])

        for v_name in sql_view.keys():
          cursor.execute(sql_view[v_name])

        conn.commit() # Only for permanent changes in der database
else:
        print('Connection to database failed')

patients_alle /content/drive/MyDrive/csv_files/csv_to_db/patients_alle.csv
SQL insert process finished
patients_cov /content/drive/MyDrive/csv_files/csv_to_db/patients_cov.csv
SQL insert process finished
encounters_alle /content/drive/MyDrive/csv_files/csv_to_db/encounters_alle.csv
SQL insert process finished
encounters_cov /content/drive/MyDrive/csv_files/csv_to_db/encounters_cov.csv
SQL insert process finished
conditions_alle /content/drive/MyDrive/csv_files/csv_to_db/conditions_alle.csv
SQL insert process finished
conditions_cov /content/drive/MyDrive/csv_files/csv_to_db/conditions_cov.csv
SQL insert process finished
procedures_alle /content/drive/MyDrive/csv_files/csv_to_db/procedures_alle.csv
SQL insert process finished
procedures_cov /content/drive/MyDrive/csv_files/csv_to_db/procedures_cov.csv
SQL insert process finished
observations_alle /content/drive/MyDrive/csv_files/csv_to_db/observations_alle.csv
SQL insert process finished
observations_cov /content/drive/MyDrive/csv_files/csv_to_db/observations_cov.csv
SQL insert process finished

In [625]:
########################################################################

Patienten

In [626]:
count_patients_cov = pd.read_sql_query("select count(*) patients_covid19 from patients_cov;", conn) #Anzahl an Patienten mit COVID-19
count_patients_cov

   patients_covid19
0              1050

In [627]:
count_patients_alle = pd.read_sql_query("select count(*) patients_allergy from patients_alle;", conn) #Anzahl an Patienten in Allergie
count_patients_alle

   patients_allergy
0               135

In [628]:
#Patienten by Geschlecht in COVID-19
count_patients_gender_cov = pd.read_sql_query("select GENDER, count(id) patients_covid19 from patients_cov group by GENDER;", conn) 
count_patients_gender_cov

  GENDER  patients_covid19
0      F               522
1      M               528

In [629]:
#Patienten by Geschlecht in Allergy
count_patients_gender_alle = pd.read_sql_query("select GENDER, count(id) patients_allergy from patients_alle group by GENDER;", conn) 
count_patients_gender_alle

  GENDER  patients_allergy
0      F                57
1      M                78

In [630]:
#Patienten by Hautfarbe in COVID-19
count_patients_race_cov = pd.read_sql_query("select RACE, count(distinct ID) C_PATIENTS_COVID FROM patients_cov group by RACE;", conn) 
count_patients_race_cov

     RACE  C_PATIENTS_COVID
0   asian                66
1   black                85
2  native                 7
3   white               892

In [631]:
#Patienten by Hautfarbe in Allergy
count_patients_race_alle = pd.read_sql_query("select RACE, count(distinct ID) C_PATIENTS_ALLERGY FROM patients_alle group by RACE;", conn) 
count_patients_race_alle

    RACE  C_PATIENTS_ALLERGY
0  asian                   3
1  black                  21
2  white                 111

In [632]:
# Patient und Conditions in conditions_cov

observations_patients_cov = pd.read_sql_query("select DESCRIPTION, count(distinct PATIENT) C_PATIENTS_covid19 FROM conditions_cov group by DESCRIPTION;", conn) #Anzahl an Patienten mit COVID-19
observations_patients_cov.head(4)

                                      DESCRIPTION  C_PATIENTS_covid19
0        Acquired coagulation disorder (disorder)                  11
1         Acute deep venous thrombosis (disorder)                  38
2             Acute pulmonary embolism (disorder)                  36
3  Acute respiratory distress syndrome (disorder)                  16

In [633]:
# Patient und Conditions in conditions_alle

observations_patients_alle = pd.read_sql_query("select DESCRIPTION, count(distinct PATIENT) C_PATIENTS_allergy FROM conditions_alle group by DESCRIPTION;", conn) 
observations_patients_alle.head(4)

                                DESCRIPTION  C_PATIENTS_allergy
0  Acquired coagulation disorder (disorder)                   1
1                   Acute allergic reaction                   1
2      Acute bacterial sinusitis (disorder)                   9
3               Acute bronchitis (disorder)                  52

In [634]:
# Patient und Description in encounter_alle

encounter_description_patients_alle = pd.read_sql_query("select DESCRIPTION , count(distinct PATIENT) C_PATIENTS_allergy FROM encounters_alle ea  where DESCRIPTION not like '' group by DESCRIPTION ;", conn) 
encounter_description_patients_alle

                                          DESCRIPTION  C_PATIENTS_allergy
0        Admission to intensive care unit (procedure)                   8
1                    Admission to surgical department                   5
2              Allergic disorder follow-up assessment                   2
3                Allergic disorder initial assessment                   2
4                                    Asthma follow-up                   3
5                                      Cardiac Arrest                   3
6                          Consultation for treatment                  34
7                                 Death Certification                  35
8                                 Emergency Encounter                   9
9                            Emergency Room Admission                  15
10            Emergency hospital admission for asthma                   1
11               Emergency room admission (procedure)                  75
12                                Encounter Inpatient                  12
13                           Encounter for 'check-up'                  63
14                              Encounter for Problem                   5
15                 Encounter for check up (procedure)                  70
16                              Encounter for problem                  47
17                  Encounter for problem (procedure)                   1
18                              Encounter for symptom                 125
19                  Encounter for symptom (procedure)                  90
20                                Follow-up encounter                  18
21         General examination of patient (procedure)                 113
22               Gynecology service (qualifier value)                   2
23                                 Hospital admission                   7
24    Hospital admission  for observation (procedure)                   1
25       Hospital admission for isolation (procedure)                  11
26                   Hypertension follow-up encounter                  13
27  Initial Psychiatric Interview with mental stat...                   2
28                              Myocardial Infarction                   6
29                    Non-urgent orthopedic admission                   1
30             Obstetric emergency hospital admission                  24
31                                       Office Visit                  11
32                               Outpatient procedure                   3
33                        Patient encounter procedure                  23
34                        Patient-initiated encounter                  11
35  Periodic reevaluation and management of health...                   2
36                                    Postnatal visit                  24
37          Postoperative follow-up visit (procedure)                   2
38                             Prenatal initial visit                  33
39                                     Prenatal visit                  25
40            Screening surveillance (regime/therapy)                   2
41                                             Stroke                   9
42             Telemedicine consultation with patient                   1
43                     Urgent care clinic (procedure)                  45
44                       Well child visit (procedure)                  44
45                      posttraumatic stress disorder                   2

In [635]:
# Patient und Description in encounter_cov

encounter_description_patients_cov = pd.read_sql_query("select DESCRIPTION , count(distinct PATIENT) C_PATIENTS_covid19 FROM encounters_cov co  where DESCRIPTION not like '' group by DESCRIPTION ;", conn) 
encounter_description_patients_cov

                                       DESCRIPTION  C_PATIENTS_covid19
0     Admission to intensive care unit (procedure)                  26
1                                   Cardiac Arrest                  47
2                              Death Certification                  50
3                Encounter for symptom (procedure)                 905
4       General examination of patient (procedure)                 840
5  Hospital admission  for observation (procedure)                   8
6     Hospital admission for isolation (procedure)                 129
7                            Myocardial Infarction                  20
8                                           Stroke                  54
9                     Well child visit (procedure)                 356

In [636]:
# Patient und Reasondescription in encounter_alle

encounter_reasondescription_patients_alle = pd.read_sql_query("select REASONDESCRIPTION , count(distinct PATIENT) C_PATIENTS_allergy FROM encounters_alle ea  where REASONDESCRIPTION not like '' group by REASONDESCRIPTION ;", conn) 
encounter_reasondescription_patients_alle

                       REASONDESCRIPTION  C_PATIENTS_allergy
0   Acute bacterial sinusitis (disorder)                  20
1            Acute bronchitis (disorder)                  54
2     Acute viral pharyngitis (disorder)                  52
3         Alzheimer's disease (disorder)                  10
4                      Anemia (disorder)                  14
..                                   ...                 ...
60                                Stroke                   4
61     Suspected lung cancer (situation)                   2
62                     Third degree burn                   1
63                       Tubal pregnancy                   3
64            Viral sinusitis (disorder)                  97

[65 rows x 2 columns]

In [637]:
# Patient und Reasondescription in encounter_cov

encounter_reasondescription_patients_cov = pd.read_sql_query("select REASONDESCRIPTION , count(distinct PATIENT) C_PATIENTS_covid19 FROM encounters_cov co  where REASONDESCRIPTION not like '' group by REASONDESCRIPTION ;", conn) 
encounter_reasondescription_patients_cov

       REASONDESCRIPTION  C_PATIENTS_covid19
0               COVID-19                 129
1         Cardiac Arrest                   4
2  Myocardial Infarction                  17
3                 Stroke                   5

In [638]:
# Age analysis (Covid)

ageCov = pd.read_sql_query("""select 
    PA.ID Patient_allergy, 
    MAX(strftime('%Y', START)) - strftime('%Y', BIRTHDATE) AGE_END 
  from patients_cov PA 
  JOIN encounters_cov EA 
    ON PA.Id = EA.PATIENT 
  GROUP BY PA.ID""", conn)

print('Age in Allergy')
print('count ' + str(ageCov['AGE_END'].count()))
print('max ' + str(ageCov['AGE_END'].max()))
print('min ' + str(ageCov['AGE_END'].min()))
print('mean ' + str(ageCov['AGE_END'].mean()))
print('median ' + str(ageCov['AGE_END'].median()))
print('mode')
print(str(ageCov['AGE_END'].mode()))

Age in Allergy
count 1050
max 110
min 1
mean 41.142857142857146
median 39.0
mode
0    22
1    31
dtype: int64

In [639]:
# Age analysis (Allergy)

ageAlle = pd.read_sql_query("""select 
    PA.ID Patient_allergy, 
    MAX(strftime('%Y', START)) - strftime('%Y', BIRTHDATE) AGE_END 
  from patients_alle PA 
  JOIN encounters_alle EA 
    ON PA.Id = EA.PATIENT 
  GROUP BY PA.ID""", conn)
print('Age in Covid')
print('count ' + str(ageAlle['AGE_END'].count()))
print('max ' + str(ageAlle['AGE_END'].max()))
print('min ' + str(ageAlle['AGE_END'].min()))
print('mean ' + str(ageAlle['AGE_END'].mean()))
print('median ' + str(ageAlle['AGE_END'].median()))
print('mode')
print(str(ageAlle['AGE_END'].mode()))

Age in Covid
count 135
max 104
min 0
mean 47.8962962962963
median 49.0
mode
0    18
1    61
2    69
dtype: int64

In [640]:
conn.close()